.sub-text {
  color: #2da950;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  font-family: "Covered By Your Grace", cursive;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  line-height: 39px;
  margin-top: 20px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  font-weight: 600;
  font-size: 56px;
  line-height: 67px;
  margin-top: 20px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

@media screen and (max-width: 500px) {
  .content-container {
    flex-direction: column;
  }
}

.content-image-container {
  position: relative;
}

.left-container-content {
  width: 200px;
  height: 190px;
  background: #ffffff;
  position: absolute;
  top: 250px;
  left: 40px;
  border-radius: 15px;
  box-shadow: 0px 22.5891px 36.1426px rgba(30, 30, 30, 0.09);
}

.left-container-title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 25px 0px 0px 20px;
}
.left-container-sub-content {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin: 20px;
  line-height: 16px;
  color: #828282;
}

.bottom-container {
  width: 180px;
  height: 70px;
  position: absolute;
  top: 83%;
  left: 15%;
  background: #ffffff;
  box-shadow: 0px 15.2093px 35.4885px rgba(0, 0, 0, 0.09);
  border-radius: 111.535px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottom-container-title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #1c1c1c;
}

.bottom-container-sub-content {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #828282;
}

.bottom-right-container-content {
  width: 220px;
  height: 180px;
  background: #002e18;
  position: absolute;
  top: 75%;
  left: 75%;
  border-radius: 15px;
  box-shadow: 0px 23.6303px 37.8085px rgba(30, 30, 30, 0.09);
}

.bottom-right-title > p {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  margin: 20px 0px 0px 20px;
}

.bottom-right-title > p > span {
  font-size: 20px;
  margin-left: 10px;
  color: #a6a3a0;
}

.bottom-right-sub-content {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin: 20px;
  line-height: 16px;
  color: #cccccc;
}

.description {
  font-family: "Manrope", sans-serif;
  /* font-size: 40px; */
  font-weight: 600;
  line-height: 48px;
  /* position: absolute;
  top: 440px;
  left: 897px; */
  width: 398px;
  height: 192px;
  margin-top: 190px;
}

.homeImage {
  width: 400px;
  margin: 80px 0px 0px 120px;
  border-radius: 30px;
  margin-top: 140px;
}

.buttonStyle2 {
  height: 75px;
  width: 190px;
  border-radius: 105px;
  border: 1.5px solid #eaeaea;
  text-align: center;
  background: linear-gradient(0deg, #1c1c1c, #1c1c1c),
    linear-gradient(97.55deg, #1c1c1c 2.63%, #454444 105.2%);
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}

.button-text2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #ffffff;
}

.buttonStyle2:hover {
  background: linear-gradient(0deg, #4e4e4e, #4e4e4e),
    linear-gradient(97.55deg, #1c1c1c 2.63%, #454444 105.2%);
  /* background: #4E4E4E; */
}

@media screen and (max-width: 550px) {
  .buttonStyle2 {
    margin: 50px auto auto auto;
  }
}
.icon-explore {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}
